CompStore/CompStore/Service References/ServiceReference/StoreWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bilding" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddStoreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddReceive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_store" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="id_product" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="number" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddReceiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddReceiveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_store" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteReceive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_store" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReceiveResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateNumberProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_store" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ident" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNumberProductResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddStoreSoapIn">
    <wsdl:part name="parameters" element="tns:AddStore" />
  </wsdl:message>
  <wsdl:message name="AddStoreSoapOut">
    <wsdl:part name="parameters" element="tns:AddStoreResponse" />
  </wsdl:message>
  <wsdl:message name="AddReceiveSoapIn">
    <wsdl:part name="parameters" element="tns:AddReceive" />
  </wsdl:message>
  <wsdl:message name="AddReceiveSoapOut">
    <wsdl:part name="parameters" element="tns:AddReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReceiveSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReceive" />
  </wsdl:message>
  <wsdl:message name="DeleteReceiveSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReceiveResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateNumberProductSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateNumberProduct" />
  </wsdl:message>
  <wsdl:message name="UpdateNumberProductSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateNumberProductResponse" />
  </wsdl:message>
  <wsdl:portType name="StoreWebServiceSoap">
    <wsdl:operation name="AddStore">
      <wsdl:input message="tns:AddStoreSoapIn" />
      <wsdl:output message="tns:AddStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddReceive">
      <wsdl:input message="tns:AddReceiveSoapIn" />
      <wsdl:output message="tns:AddReceiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReceive">
      <wsdl:input message="tns:DeleteReceiveSoapIn" />
      <wsdl:output message="tns:DeleteReceiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNumberProduct">
      <wsdl:input message="tns:UpdateNumberProductSoapIn" />
      <wsdl:output message="tns:UpdateNumberProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoreWebServiceSoap" type="tns:StoreWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStore">
      <soap:operation soapAction="http://tempuri.org/AddStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReceive">
      <soap:operation soapAction="http://tempuri.org/AddReceive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReceive">
      <soap:operation soapAction="http://tempuri.org/DeleteReceive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNumberProduct">
      <soap:operation soapAction="http://tempuri.org/UpdateNumberProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StoreWebServiceSoap12" type="tns:StoreWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStore">
      <soap12:operation soapAction="http://tempuri.org/AddStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReceive">
      <soap12:operation soapAction="http://tempuri.org/AddReceive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReceive">
      <soap12:operation soapAction="http://tempuri.org/DeleteReceive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNumberProduct">
      <soap12:operation soapAction="http://tempuri.org/UpdateNumberProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreWebService">
    <wsdl:port name="StoreWebServiceSoap" binding="tns:StoreWebServiceSoap">
      <soap:address location="http://localhost:58040/StoreWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StoreWebServiceSoap12" binding="tns:StoreWebServiceSoap12">
      <soap12:address location="http://localhost:58040/StoreWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>